<section class="lead-form {{pageSectionType}} width-container">
    <div class="lead-form__content bg__white positionRelative" style="background-image: url('{{leadFormImage}}')">
        <picture class="lead-form__image positionAbsolute imgWrapper">
            <source media="(min-width: 481px)" srcset="{{leadFormImage}}"/>
            <source media="(max-width: 480px)" srcset="{{leadFormImageMobile}}"/>

            <img src="{{leadFormImage}}" alt="banner image"/>
        </picture>
        <div class="lead-form__description">
            <div class="lead-form__title lead-form__title--page-main h1">{{leadFormTitle}}</div>
            {{#if leadFormSubtitle}}
                <p class="lead-form__subtitle color__gray text-m">{{leadFormSubtitle}}</p>
            {{/if}}

        </div>
    </div>
    <form class="lead-form__form bg__white flexColumn">
        <div>
            <h4 class="lead-form__stats">{{leadFormStatsTitle}}</h4>
            {{#if statsSubTitle}}
                <span class="lead-form__stats-subTitle color__gray flexBox">{{statsSubTitle}}</span>
            {{/if}}
        </div>


        <div class="form__inputs flexColumn">
            <label class="form__label flexColumn">
                <span class="form__input-title color__gray text_S">Имя</span>
                <input type="text" class="form__input text-l" placeholder="Имя">
            </label>

            <label class="form__label flexColumn">
                <span class="form__input-title color__gray text_S">Телефон</span>
                <input type="tel" class="form__input text-l" placeholder="Телефон">
            </label>
        </div>


        <label class="form-agreement flexBox">
            <input type="checkbox" name=agreement" hidden="">
            <span class="form-agreement__check flexCenter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
                        <path d="M1 2.77778L4.2 6.33333L9 1" stroke="white" stroke-linecap="round"></path>
                    </svg>
                </span>

            <span class="filter-checkbox__label text_S color__gray">Нажимая на кнопку "Оставить заявку", вы даете <span
                    class="color-blue-20">согласие на обработку персональных данных</span></span>
        </label>

        <button type="submit" class="btn__red btn-custom text-l">Оставить заявку</button>
    </form>
</section>